<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>TAG Attendance Management System</title>
</head>
<body class="cc-1" style="background-image: url('{{ url_for('static', filename='images/bg2.jpg') }}')">
    <div class="C1">
        <button id="adminButton" class="form-control" onclick="location.href='{{ url_for('admin_login') }}'" class="btn btn-primary mb-3">Admin Login</button>
        <button id="userButton" class="form-control" onclick="location.href='{{ url_for('user_login') }}'" class="btn btn-secondary">User Login</button>
    </div>
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->
</body>
</html>
